:root
{
    --primaryColor: #43D894;
    --primaryColorHover: #1abc9c;
    --secondaryColor: #bdc3c7;
    --secondaryBgColor: #dfdfdf;
    --gradientColor1: #43D894;
    --gradientColor2: #1DCEE2;
    --mutedColor: #8F95B2;
    --backgroundColor1: #f4fdf6;
    --backgroundColor2: #f4fdf4;
    --footerBackgroundColor: #eeeeee;
    --footerBorderColor1: #e7e7e7;
    --selectedNavColor: #e9fdec;
    --selectedTextColor: #43d895;
}

body,
body *
{
    font-family: "Nunito Sans", sans-serif;
}

.text-muted
{
    color: var(--mutedColor) !important;
}

.edug-select img
{
    width: 100%;
    height: auto;
    display: block;
}

.edug-img-icon
{
    display: inline-block;
    width: 1em;
    height: auto;
}

.edug-full-width
{
    width: 100%;
}

.edug-full-width-1
{
    width: 80%;
}

.btn-outline-secondary
{
    border-color: var(--secondaryColor) !important;
}

.edug-bg-secondary
{
    background: var(--secondaryBgColor) !important;
}

.edug-fs-7
{
    font-size: 0.8em;
}

.edug-middle-border
{
    background: url("../images/border.svg");
    background-position: center;
}

.edug-middle-border span
{
    display: inline-block;
    background-color: #fff;
    padding: 1em;
}

.text-primary
{
    color: var(--primaryColor) !important;
}

#edug-sign-in a
{
    text-decoration: none;
}

.btn-success
{
    background-color: var(--primaryColor);
    border-color: var(--primaryColor);
}

.btn-outline-success
{
    border: 1px solid var(--primaryColor);
    color: var(--primaryColor);
}

.btn-outline-success:hover
{
    background: var(--primaryColorHover);
    border: 1px solid var(--primaryColorHover);
    color: #fff;
}

a 
{
    color: var(--primaryColor);
}

#edug-signin-right-pane
{
    min-height: 40em;
    position: relative;
}

#edug-signin-right-pane > div
{
    max-width: 30em;
    width: 100%;
    height: 30em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url("../images/signin-image.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#edug-sign-in
{
    width: 75%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#edug-sign-in > div
{
    background: #fff;
}

.btn-primary
{
    background: var(--primaryColor);
    border-color: var(--primaryColor);
}

.btn-primary:hover
{
    background: var(--primaryColorHover) !important;
    border-color: var(--primaryColorHover) !important;
}

#edug-main-nav > .navbar-nav
{
    justify-content: center;
}

.edug-logo
{
    display: inline-block;
    width: 1.5em;
    height: auto;
}

.edug-bg-white
{
    background-color: #fff;
}

.edug-bg1
{
    background-color: var(--backgroundColor1);
    padding-top: 3em;
}

.edug-gradient1
{
    background: linear-gradient(-90deg, var(--gradientColor1) 0%, var(--gradientColor2) 100%);
}

.edug-gradient2
{
    background: linear-gradient(90deg, var(--gradientColor1) 0%, var(--gradientColor2) 100%);
}

#edug-home-main-img-1,
#edug-home-main-img-2
{
    position: relative;
    min-height: 20em;
}

#edug-home-main-img-1 > div
{
    background: url("../images/home-img.svg");
}

#edug-home-main-img-2 > div
{
    background: url("../images/home-img-2.svg");
}

#edug-home-main-img-1 > div,
#edug-home-main-img-2 > div
{
    max-width: 30em;
    width: 100%;
    height: 20em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#edug-main-home
{
    padding-bottom: 15em !important;
    background: url("../images/buildings.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

.edug-flag
{
    width: 100%;
    height: auto;
}

.edug-language-card
{
    display: block;
    text-decoration: none !important;
}

.edug-bg-secondary
{
    background: #f4f7fd;
    border: 1px solid #f1f1f1;
}

#edug-home-4
{
    background: var(--backgroundColor2);
}

#edug-home-5
{
    background: #f4f7fd !important;
}

.edug-fs-sm
{
    font-size: small;
}

#edug-home-navbar
{
    width: 100%;
    position: fixed;
    z-index: 101;
}

footer
{
    background: var(--footerBackgroundColor);
}

footer a
{
    color: #313131;
}

footer a:hover
{
    text-decoration: underline !important;
}

.edug-language-flag
{
    width: 4em;
    display: inline-block;
    height: auto;
}

.edug-block
{
    display: block;
}

.edug-score-box
{
    background: #f3f7fc;
    border: 2px solid var(--primaryColor);
}

.bg-primary
{
    background: var(--primaryColor) !important;
}

.progress-bar
{
    background: var(--primaryColor) !important;
}

.edug-muted-bg
{
    background: var(--footerBackgroundColor);
}

.edug-inline-block
{
    display: inline-block;
}

.edug-test-badge-icon
{
    width: 2.5em;
    height: 2.5em;
}

#edug-side-nav
{
    min-height: calc(100vh - 30em);
}

.edug-sidebar-active
{
    background: var(--selectedNavColor);
    border-right: 5px solid var(--selectedTextColor) !important;
}

.edug-sidebar-active a
{
    color: var(--selectedTextColor) !important;
}

.edug-sidebar-nav-link
{
    transition: all 0.5s;
}

.edug-sidebar-nav-link:hover
{
    background: var(--selectedNavColor);
    border-right: 5px solid var(--selectedTextColor) !important;
}

.edug-sidebar-nav-link:hover a
{
    color: var(--selectedTextColor) !important;
}

#edug-sidebar-menu-button
{
    position: absolute;
    top: 0.7em;
    right: 1em;
    display: none;
}

.edug-green
{
    background: var(--selectedNavColor);
}

@media only screen and (max-width: 767px)
{
    #edug-signin-right-pane
    {
        display: none;
    }

    #edug-sign-in
    {
        width: 100%;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
    }

    .edug-text-center-sm
    {
        text-align: center !important;
    }

    #edug-home-5
    {
        padding-left: 0em !important;
        padding-right: 0em !important;
    }

    #edug-main-home
    {
        padding-bottom: 5em !important;
    }

    #edug-side-nav
    {
        position: relative;
    }

    #edug-sidebar-menu-button
    {
        display: inline-block;
    }

    #edug-sidebar-menu-contents[data-isCollapsed="true"]
    {
        display: none;
    }

    #edug-sidebar-menu-contents[data-isCollapsed="false"]
    {
        display: block;
    }

    #edug-side-nav
    {
        min-height: auto;
    }

    #edug-sidebar-wrapper
    {
        border: none;
    }
}